/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.image-sprite span {
  display: inline-block;
  background-image: url('https://cdn.glitch.me/ad230f43-bb9e-482a-a473-3cbae75044ac%2Fmario-walk-cycle.png?v=1635199669776');
  width: 60px;
  height: 95px;
}

.first {
  background-position: 0px 0px;
}

.second {
  background-position: 180px 0px;
}

.third {
  background-positon: 300px 0px;
}

.third:hover {
  background-position: 120px 0px;
}